input[type=text]{
    padding: 1em;
    margin: 1em;
}

input[type=text]:hover{
    border-width: 3px;
}

input[type=button]:hover{
    background-color: darkolivegreen;
}

input[type=button]{
    background-color: rgb(129, 139, 107);
    padding: 2em;
}

label{
    display: inline-block;
    text-align: right;
    padding: 1em;
}
#validation-summary{
    color: red;
}
form{
    text-align: center;
}
h1{
    text-align: center;
}

#display{
    color: darkgray;
}

body{
    background-color: rgb(223, 237, 241);
    font-family: fantasy;
    margin: 1em;
}